.widget-body {
  font-family: 'Roboto', sans-serif;
  width: auto;
  text-align: center;
}

.ng-resizable-diagonal {
  width: unset;
}

.time {
  font-size: 4em;
}

.period {
  font-size: 0.8em;
  margin: 0;
}

.date {
  font-size: 1.5em;
  // margin-left: 15px;
}
