<div class="container">
  <!-- Login Screen -->
  <div [className]="loginClass" class="login">
    <div class="login-circle"></div>
    <div class="login-text">searching for a face</div>
  </div>

  <div class="animated fadeIn welcome delay-1s" *ngIf="isReady() && loggedIn">
    <span class="animated fadeOut delay-2s">{{ greeting }}, {{ activeUser.name }}</span>
  </div>

  <!-- Populate Widgets for logged in users -->
  <span class="widgets" *ngIf="isReady() && loggedIn">
    <!-- Widget Set 1 -->
    <div
      [className]="widgetClass + ' widget-' + i"
      *ngFor="let widget of activeUser.widgets; let i = index"
      [attr.data-index]="i"
    >
      <app-widget-template *ngIf="widget == 0"></app-widget-template>
      <app-weather *ngIf="widget == 1"></app-weather>
      <app-news *ngIf="widget == 2"></app-news>
      <app-calendar *ngIf="widget == 3"></app-calendar>
      <app-subreddit *ngIf="widget == 4"></app-subreddit>
      <app-destination *ngIf="widget == 5"></app-destination>
    </div>

    <!-- Widget Set 2 -->
    <div
      [className]="widgetClass + ' widget2-' + i"
      *ngFor="let widget of activeUser.widgets2; let i = index"
      [attr.data-index]="i"
    >
      <app-widget-template *ngIf="widget == 0"></app-widget-template>
      <app-weather *ngIf="widget == 1"></app-weather>
      <app-news *ngIf="widget == 2"></app-news>
      <app-calendar *ngIf="widget == 3"></app-calendar>
      <app-subreddit *ngIf="widget == 4"></app-subreddit>
      <app-destination *ngIf="widget == 5"></app-destination>
    </div>
  </span>
</div>
