.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
}

.widgets {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
    'a b c'
    'd e f'
    'g h i';
  align-items: start;
}

.login {
  position: fixed;
}

.login-circle {
  width: 500px;
  height: 500px;
  border-radius: 250px;
  border-style: solid;
  border-color: white;
  margin-bottom: 50px;
}

.login-text {
  width: 500px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.welcome {
  text-align: center;
  font-size: 4rem;
  position: fixed;
}

.widget-0 {
  margin: 50px 0 0 50px;
  grid-area: a;
  justify-self: start;
  align-self: start;
}

.widget-1 {
  margin: 50px 50px 0 0;
  grid-area: c;
  justify-self: end;
  align-self: start;
}

.widget-2 {
  margin: 0 50px 50px 0;
  grid-area: i;
  justify-self: end;
  align-self: end;
}

.widget-3 {
  margin: 0 0 50px 50px;
  grid-area: g;
  justify-self: start;
  align-self: end;
}

.widget2-0 {
  margin-top: 50px;
  grid-area: b;
  justify-self: center;
  align-self: start;
}

.widget2-1 {
  margin-right: 50px;
  grid-area: f;
  align-self: center;
  justify-self: end;
}

.widget2-2 {
  margin-bottom: 50px;
  grid-area: h;
  justify-self: center;
  align-self: end;
}

.widget2-3 {
  margin-left: 50px;
  grid-area: d;
  align-self: center;
  justify-self: start;
}
