.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: black;
  -webkit-background-size: cover;
  background-size: cover;

  color: white;
}

.widgets {
  position: fixed;
}

.login {
  position: fixed;
}

.login-circle {
  width: 500px;
  height: 500px;
  border-radius: 250px;
  border-style: solid;
  border-color: white;
  margin-bottom: 50px;
}

.login-text {
  width: 500px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.welcome {
  text-align: center;
  font-size: 4rem;
  position: fixed;
}

.widget-0 {
  position: fixed;
  top: 10px;
  left: 10px;
}

.widget-1 {
  position: fixed;
  top: 10px;
  right: 10px;
}

.widget-2 {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.widget-3 {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.widget2-0 {
  position: fixed;
  top: 10px;
  width: 100%;
  left: 0px;
}

.widget2-1 {
  position: fixed;
  right: 10px;
}

.widget2-2 {
  position: fixed;
  bottom: 10px;
  width: 100%;
  left: 0px;
}

.widget2-3 {
  position: fixed;
  left: 10px;
}
