.widget-body {
  font-family: 'Roboto', sans-serif;
  width: auto;
}

.news {
  width: 300px;
}

.news-header {
  margin: 0;
}

.news-title {
  margin: 0;
}

.news-snippet {
  margin-top: 0;
  height: auto;
  padding-left: 10px;
  font-size: 0.75em;
  margin-bottom: 15px;
}
