.widget-body {
  margin: 0 auto;
  width: 300px;
}

.news-header {
  margin: 0;
}

.news-title {
  margin: 0;
}

.news-snippet {
  margin-top: 0;
  height: auto;
  padding-left: 10px;
  font-size: 0.75rem;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.7rem;
}
