h2 {
  margin: 0 0 8px 15px;
}

.widget-body {
  width: 300px;
}

.post-titles {
  margin-left: 10px;
  margin-bottom: 2px;
}

.post-score {
  font-weight: 100;
  float: right;
}

.post {
  height: auto;
}

.score {
  width: 20%;
  margin: 0;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  font-size: 0.9em;
  padding-top: 1px;
  text-align: center;
}

.title {
  vertical-align: top;
  width: 80%;
  margin: 0;
  display: inline-block;
  height: 100%;
}

.post-snippet {
  padding-left: 20%;
  margin-top: 0;
  font-size: 0.75rem;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.7rem;
}

.image {
  vertical-align: top;
  object-fit: cover;
  width: 80%;
  height: auto;
}
