.widget-body {
  margin: 0 auto;
}
.event {
  width: 300px;
}

.time {
  display: inline-block;
  width: 25%;
  overflow: hidden;
  padding-bottom: 5px;
}

.title {
  display: inline-block;
  width: 75%;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
